.contact{
    width: 50%;
    height: 400px;
    margin: 7em 20px;
    display: flex;
    flex-direction: column;
    background-color: black;
    border: 3px solid rgb(135, 157, 157);
    
  
  .title{
    height: auto;
    text-align: center;
    color: white;
    border-bottom: 2px;
    border-bottom: thick ridge rgb(198, 198, 198);
    background-color: black;
    margin-top: -0.5px;
  }
  
  .details{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 0 auto;
  }
  }